lab1/android/** linguist-vendored=true
lab1/ios/** linguist-vendored=true
lab1/macos/** linguist-vendored=true
lab1/linux/** linguist-vendored=true
lab1/windows/** linguist-vendored=true
lab1/web/** linguist-vendored=true
